@import ../../../common/styles/variables
    
.jumbotron
    background-image: url(./jumbotron_bg.png)
    background-size: cover
    background-position: center center

    &__container
        padding-top: 161px
        padding-bottom: 159px
        padding-right: 74px

    &__heading
        color: $white
        text-align: center
        font-weight: $medium
        font-size: 72px
        line-height: 83px
