@import variables
    
.paragraph
    margin-bottom: 37.5px
    color: $black
    font-weight: $regular
    text-align: center

    &_text-style_italic
        font-style: italic

    &_text-style_strong
        font-weight: $bold

@media screen and ( min-width: 340px )
    .paragraph
        text-align: left
    