@font-face {
  font-family: Roboto;
  font-weight: 400;
  font-style: normal;
  src: url(../vendor/fonts/Roboto/Roboto-Regular.woff2) format("woff2"), url(../vendor/fonts/Roboto/Roboto-Regular.woff) format("woff"), url(../vendor/fonts/Roboto/Roboto-Regular.ttf) format("truetype");
}
@font-face {
  font-family: Roboto;
  font-weight: 400;
  font-style: italic;
  src: url(../vendor/fonts/Roboto/Roboto-Italic.woff2) format("woff2"), url(../vendor/fonts/Roboto/Roboto-Italic.woff) format("woff"), url(../vendor/fonts/Roboto/Roboto-Italic.ttf) format("truetype");
}
@font-face {
  font-family: Roboto;
  font-weight: 500;
  font-style: normal;
  src: url(../vendor/fonts/Roboto/Roboto-Medium.woff2) format("woff2"), url(../vendor/fonts/Roboto/Roboto-Medium.woff) format("woff"), url(../vendor/fonts/Roboto/Roboto-Medium.ttf) format("truetype");
}
@font-face {
  font-family: Roboto;
  font-weight: 500;
  font-style: italic;
  src: url(../vendor/fonts/Roboto/Roboto-MediumItalic.woff2) format("woff2"), url(../vendor/fonts/Roboto/Roboto-MediumItalic.woff) format("woff"), url(../vendor/fonts/Roboto/Roboto-MediumItalic.ttf) format("truetype");
}
@font-face {
  font-family: Roboto;
  font-weight: 700;
  font-style: normal;
  src: url(../vendor/fonts/Roboto/Roboto-Bold.woff2) format("woff2"), url(../vendor/fonts/Roboto/Roboto-Bold.woff) format("woff"), url(../vendor/fonts/Roboto/Roboto-Bold.ttf) format("truetype");
}
* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

.body {
  font-family: Roboto, sans-serif;
}

.container {
  margin: 0 auto;
  padding: 0 55px;
  max-width: 1220px;
  box-sizing: border-box;
}

.h2 {
  margin-bottom: 17px;
  color: #007765;
  font-weight: 500;
  font-size: 64px;
  line-height: 1.172em;
  text-align: center;
}

.paragraph {
  margin-bottom: 37.5px;
  color: #000;
  font-weight: 400;
  font-size: 32px;
  line-height: 1.172em;
}
.paragraph_text-style_italic {
  font-style: italic;
}
.paragraph_text-style_strong {
  font-weight: 700;
}

.flow-cleaner {
  clear: both;
}

.label {
  position: relative;
}
.label__tail {
  position: absolute;
  width: 100%;
  top: -84px;
}

.header-block__nest {
  height: 84px;
  background-color: #007765;
}
.header-block__header-wrapper {
  position: fixed;
  z-index: 1;
  top: -84px;
  width: 100%;
  height: 168px;
  padding-top: 84px;
  transition: padding-top 0.3s ease-out;
}
.header-block__header-wrapper_smooth-slide {
  padding-top: 0;
}
.header-block__header-wrapper_smooth-slide:hover {
  padding-top: 84px;
}

.header {
  background-color: #007765;
  color: #fff;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.01em;
}
.header__container {
  padding-top: 20px;
  padding-bottom: 19px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo-wrapper {
  width: 184px;
  height: 45px;
}
.header__nav {
  letter-spacing: 0.3px;
}
.header__list-item {
  display: inline-block;
}
.header__link {
  color: inherit;
  text-decoration: none;
}

.jumbotron {
  background-image: url(../vendor/images/jumbotron_bg.png);
  background-size: cover;
  background-position: center center;
}
.jumbotron__container {
  padding-top: 161px;
  padding-bottom: 159px;
  padding-right: 74px;
}
.jumbotron__heading {
  color: #fff;
  text-align: center;
  font-weight: 500;
  font-size: 72px;
  line-height: 83px;
}

.problem {
  background-color: #eee;
}
.problem__container {
  padding-top: 47px;
  padding-bottom: 55px;
}
.problem__heading {
  padding-right: 4px;
}

.hero {
  background-image: url(../vendor/images/hero_bg.png);
  background-size: cover;
  background-position: center center;
}
.hero__container {
  max-width: 1000px;
  padding: 128px 56px 130px 54px;
}
.hero__text {
  color: #fff;
  font-weight: 500;
  font-style: italic;
  font-size: 48px;
  line-height: 1.172em;
  text-align: center;
}

.pipercoin {
  background-color: #fff;
}
.pipercoin__container {
  padding-top: 47px;
  padding-bottom: 52.5px;
}
.pipercoin__logo-wrapper {
  float: left;
  margin-right: 48px;
  width: 115px;
  height: 115px;
}

.team {
  background-color: #eee;
}
.team__container {
  padding-top: 48px;
  padding-bottom: 79px;
}
.team__cards {
  padding: 15px 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  row-gap: 30px;
}
@media screen and (min-width: 1220px) {
  .team__cards {
    justify-content: space-between;
  }
}
.team__card {
  width: 350px;
  padding-top: 24px;
  padding-bottom: 28px;
  display: flex;
  justify-content: center;
}
.team__card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s ease-out;
}
.team__card-container:hover {
  transform: scale(1.2);
}
.team__photo {
  border-radius: 50%;
}
.team__name {
  padding-top: 12px;
  padding-bottom: 2px;
  color: #007765;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}
.team__position {
  color: #000;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  font-style: italic;
}

.footer {
  background-color: #333;
  color: #fff;
}
.footer__container {
  padding-top: 48px;
  padding-bottom: 64px;
  max-width: 650px;
}
.footer__text {
  font-size: 18px;
  line-height: 1.185em;
  text-align: center;
}

/*# sourceMappingURL=index.css.map */
