:root {
    /* colors */
    --green: #007765;
    --white: #fff;
    --light-gray: #eee;
    --dark-gray: #333;
    --black: #000;

    /* container sizes */
    --cont-max-width: 1219px;
    --side-padding: 55px;

    /* repeating font sizes and line-heights */
    --h2-fsz: 64px;
    --h2-lh: 75px;
    --p-fsz: 32px;
    --p-lh: 37.5px;

    /* font weights */
    --regular: 400;
    --bold: 500;
    --bolder: 700;
}