.header
    background-color: $green
    color: $white
    font-weight: $medium
    font-size: 24px
    line-height: 28px
    letter-spacing: 0.01em
    position: sticky
    top: 0
    z-index: 1

    &__container
        padding-top: $header-padding-top
        padding-bottom: $header-padding-bottom
        display: flex
        justify-content: space-between
        align-items: center

    &__logo-wrapper
        width: 184px
        height: 45px

        &_mobile
            display: none

    &__nav
        display: none
        letter-spacing: 0.3px

        &_mobile
            display: block
            
    @media screen and (min-width: 810px)
        &__nav
            display: block
        
    &__list_mobile
        display: flex
        flex-direction: column

    &__list-item
        display: inline-block
    
    &__delimiter_mobile
        display: none

    &__link
        color: inherit
        text-decoration: none
    
    &__burger-btn
        width: 45px
        height: 35px
        display: flex
        flex-direction: column
        justify-content: space-between
        cursor: pointer

        &_clicked
            display: none
    
    @media screen and (min-width: 810px)
        &__burger-btn
            display: none
    
    &__burger-btn-line
        height: 6px
        border-radius: 2px
        background-color: $light-gray
    
    &__close-btn
        display: none
        width: 45px
        height: 45px
        background-color: $light-gray

        &_mobile
            display: grid
            grid-template-columns: 1fr 1fr
            grid-template-rows: 1fr 1fr
            grid-gap: 5px
            transform: rotate(45deg)
            border-radius: 50%
            cursor: pointer
            align-self: flex-start
    
    &__close-btn-square
        background-color: $green