.header-block

    &__nest
        height: $header-height
        background-color: $green

    &__header-wrapper
        position: fixed
        z-index: 1
        top: -$header-height
        width: 100%
        height: $header-height *2
        padding-top: $header-height
        transition: padding-top 0.3s ease-out

        &_smooth-slide
            padding-top: 0

            &:hover
                padding-top: $header-height
